*{box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont}
body{margin:0;background:#111;color:#fff}

header{padding:12px;text-align:center;background:#0f0f0f;position:relative}
.logo h1{margin:0;font-size:22px}
.logo p{margin:0;font-size:13px;color:#aaa}
.logo small{display:block;font-size:11px;color:#777}

/* Кнопка 3 полоски */
#menu-button{
  position:absolute;
  left:14px;
  top:16px;
  font-size:22px;
  cursor:pointer;
  color:#fff;
  z-index:15;
}
.contact-number{
  position:absolute;
  left:50px;
  top:18px;
  font-size:14px;
  color:#fff;
}

/* Сайд-меню */
#side-menu{
  position:fixed;
  left:-260px;
  top:0;
  width:260px;
  height:100%;
  background:#1a1a1a;
  padding:16px;
  transition:0.3s;
  z-index:20;
}

.categories{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.cat{
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
  cursor:pointer;
  white-space:nowrap;
  background:#222;
  color:#fff;
}
.cat.active{background:#ff8c42;color:#000}

/* Продукты */
.products{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:14px;
  padding:14px
}

.card{background:#1a1a1a;border-radius:16px;padding:10px}
.card img{width:100%;height:190px;object-fit:cover;border-radius:12px;cursor:pointer}
.card p{margin:6px 0;font-size:13px}
.price{font-weight:bold}

select,input{
  width:100%;
  margin-top:6px;
  padding:8px;
  background:#2a2a2a;
  color:#fff;
  border:none;
  border-radius:8px
}

button{
  width:100%;
  margin-top:8px;
  padding:10px;
  background:#ff8c42;
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
}

/* КОРЗИНА ВЕРХНЯЯ СТИКЕР */
.cart-float-top{
  position:fixed;
  top:20px;
  right:20px;
  background:#ff6a00; /* современный цвет */
  color:#fff;
  padding:14px;
  border-radius:50%;
  font-size:20px;
  z-index:30;
  cursor:pointer;
}
#cart-count{font-size:12px;color:red;font-weight:bold}

/* КОРЗИНА */
#cart{
  position:fixed;
  top:60px;
  right:20px;
  width:260px;
  max-height:80%;
  background:#1a1a1a;
  padding:12px;
  overflow-y:auto;
  border-radius:16px;
  z-index:25;
}

/* FULLSCREEN VIEWER */
#viewer{
  position:fixed;
  display:none;
  top:0;left:0;
  width:100%;height:100%;
  justify-content:center;align-items:center;
  z-index:50;
}
.viewer-bg{
  position:absolute;top:0;left:0;width:100%;height:100%;
  backdrop-filter:blur(10px);
  background:rgba(0,0,0,0.5);
}
#viewer-img{max-width:90%;max-height:90%;border-radius:12px}
#viewer-dots{text-align:center;margin-top:10px}
#viewer-dots span{margin:0 2px;color:#aaa}
#viewer-dots span.active{color:#ff8c42}
